@font-face {
    font-family: PixelDraw;
    src: url('PixelDraw.ttf');
}

.title {
    font-family: PixelDraw;
    font-size: 125px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 50px 25px 0px 0px;
}

#clear,
#colors {

    font-size: larger;
    height: 35px;
    width: 120px;
}

#canvas {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
}

